.loginBackground {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right, #6f48e8, #3c90e8);
}

.login h1 {
  color: #ffffff;
  text-align: center;
  padding: 2em;
  margin-top: 0;
}

.loginHref {
  color: blue;
}

.inlineBlock {
  display: "inline-block";
}

.paddingBottom {
  padding-bottom: "2em";
}

.formStyling {
  background-color: "white";
  width: "90vw";
  text-align: "center";
  padding-bottom: "2em";
}
